body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}

.title {
  color: #ffffff;
  background-color: #2e2f42;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  text-align: center;
  max-width: 496px;
}

.section-one {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.list-name {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.list {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section-two {
  background-color: #ffffff;
  width: 28;
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-three {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.our-team {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.section-three-ul {
  background-color: #ffffff;
  display: flex;
  gap: 24px;
  width: calc((100%-72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.name-team {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.position-team {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.name-position {
  padding: 32px 0 32px;
}

.our-portfolio {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-name {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-discripion {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.button {
  color: #ffffff;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  top: 428;
  left: 636px;
  padding: 16px 32px 16px 32px;
  margin: auto;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #404bbf;
}

.button:focus {
  background-color: #404bbf;
}

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
  display: inline-block;
}

.web {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: block;
  margin-bottom: 16px;
  margin-right: 76px;
}

.logo-header {
  color: #2e2f42;
  display: inline-block;
  margin-bottom: 16px;
}
.logo-footer {
  color: #f4f4fd;
}
.logo-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.menu-nav {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
}
.menu-nav:hover {
  color: #404bbf;
}

.menu-nav:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
  display: flex;
  gap: 40px;
}

.mailto {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.mailto:hover {
  color: #404bbf;
}

.mailto:focus {
  color: #404bbf;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.advantages-list {
  display: flex;
  width: 28px;
  height: 104px;
  top: 797px;
  left: 99px;
  gap: 24;
  margin-bottom: 8px;
}

.list-advantages {
  display: flex;
  gap: 24px;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}

.div-one {
  display: flex;
}

.nav-one {
  display: flex;
  align-items: center;
}

.list-menu-nav {
  padding: 0px 0px 0px 0px;
  display: flex;
  gap: 40px;
  margin-right: 40px 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  margin: 0;
  width: 1158px;
  margin: 0 auto;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-name-portfolio-discripion {
  padding: 32px 16px;
  border: 1px colis #e7e9fc;
  border-top: none;
  border-bottom: 8px;
}

.advantages {
  display: none;
}
