body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}

/*-----------------------------------------HEADER---------------------------------------*/

.header {
  border-bottom: 1px solid #e7e9fc;
}

.nav-one {
  align-items: center;
  display: flex; /*--test--*/
}

.web {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-right: 76px;
}

.logo-header {
  color: #2e2f42;
  display: inline-block;
}

.list-menu-nav {
  padding: 0px 0px 0px 0px;
  gap: 40px;
  margin-right: 40px 0;
  display: flex; /*--test--*/
  /*margin-left: auto;*/
}

.menu-nav {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
}

.address {
  font-style: normal;
  gap: 40px;
  /*justify-content: flex-end;*/
  display: flex; /*--test--*/
  margin-left: auto;
}

.mailto {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.mailto:hover .mailto:focus {
  color: #404bbf;
}

.menu-nav:focus .menu-nav:hover {
  color: #404bbf;
}

/*--------------------------------------------SECTION-ONE-------------------------------*/

.title {
  color: #ffffff;
  background-color: #2e2f42;
  font-size: 56px;

  letter-spacing: 0.02em;
  line-height: 1.07;
  text-align: center;
  max-width: 496px;
  padding-top: 190px;
  padding-bottom: 290px;
}

.section-one {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.button {
  color: #ffffff;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  top: 428;
  left: 636px;
  padding: 16px 32px 16px 32px;

  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
container-title {
}

.button:hover {
  background-color: #404bbf;
}

.button:focus {
  background-color: #404bbf;
}

/*------------------------------------SECTION-TWO-------------------------------------*/

.section-two {
  background-color: #ffffff;

  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
}

.advantages-list {
  width: calc((100% - 72px) / 4);
  height: 104px;
  top: 797px;
  left: 99px;
  gap: 24px;
  margin-bottom: 8px;
}

.list-advantages {
  display: flex;
  gap: 24px;
}

.list-name {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.list {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*----------------------------SECTION-THREE----------------------------*/

.section-three {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.our-team {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.section-three-ul {
  display: flex;
  gap: 24px;
}

.section-three-li {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.team-name-position {
  padding-top: 32px;
  padding-bottom: 32px;
}

.name-team {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.position-team {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

/*----------------------------------SECTION FOUR(4)--------------------------------*/

.section-four {
  padding-top: 120px;
  padding-bottom: 120px;
}

.our-portfolio {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-name {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-list-ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-list {
  width: calc((100% - 48px) / 3);
}

.portfolio-name-portfolio-discripion {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}

.portfolio-name {
}

.portfolio-discripion {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
}

/*------------------------------FOOTER---------------------------------*/
.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.web-footer {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
  margin-right: 76px;
  display: inline-block;
}

.logo-footer {
  color: #f4f4fd;
}

.logo-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

/*------------------------------OTHERS---------------------------------*/
ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

.container {
  padding: 0 15px;
  width: 1158px;
  margin: 0 auto;
}

.flex-class {
  display: flex;
}

img {
  display: block;
}
